table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: none;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #FFCDBC;
  }
  .fas{
  font-size: 1.5rem;
  }
  .fas:hover{
  color: gray;
  cursor: pointer;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    color: #FF4B41;
  }