<div class="justify-content-center d-flex">
    <div class="col-10">
      
      <h1 class="title">{{project.name}} feladatai:</h1>
      <button class="btn btn-lg btn-outline-primary" (click)="addTask(content)">Új projekt</button> 

      <div class="justify-content-center d-flex">
        <table class="col-10 m-5 usertable">
          <tr>
            <th class="col-3">Név</th>
            <th class="col-3">Leírás</th>
            <th class="col-3">Kész?</th>
            <th class="col-1"></th>
          </tr>
          <tr *ngFor="let task of project.tasks">
            <td class="col-3" style="word-wrap: break-word">{{ task.title }}</td>
            <td class="col-3" style="word-wrap: break-word">{{ task.description }}</td>
            <td class="col-3"><input type="checkbox" id="isDone" name="isDone" value="task.isDone" ></td>
            <td style="text-align: center;">
              <button class="btn btn-lg btn-outline-primary" (click)="confirmDelete(task.id)">X</button> 
            </td>
          </tr>
      </table>
      </div>
    </div>
</div>

    
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Cím</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="name">Cím</label>
      <input
      required
      id="name"
      class="form-control"
      [(ngModel)]="newTask.title"
    />
      <label for="description">Leírás</label>
      <textarea
      required
      id="description"
      class="form-control"
      [(ngModel)]="newTask.description"
    >
    </textarea> 
    <label for="user">Kinek a feladata?</label>
    <select [(ngModel)]="selected" required  (change)="dataChanged()">
   
      <option *ngFor="let item of users" [ngValue]="item">
        {{ item.name }}
      </option>
    </select>
    
    
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-secondary" (click)="onSave()" >Mentés</button>
      <button type="cancel" class="btn btn-secondary" (click)="close()">Mégsem</button>
    </div>
    
  </ng-template>

