
img{
    height: 50px;
    width:auto;
}
.navbar {
    background: #FFCDBC;
    font-size: 1.5rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
 a:hover {
    color: #FF4B41;
}
a{
    color: brown;
}
li a{
    text-decoration: none;
}
