#page-container {
  position: relative;
  min-height: 75vh;
}

#content-wrap {
  margin-bottom: 10rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;

  background-color: #e9b9a9;
  /* Footer height */
}
