#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    margin-bottom: 10rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;            /* Footer height */
  }