<!-- <div class="container">
    <div>
        User Name : <input type="text" name="username" [(ngModel)]="username"> Password : <input type="password" name="password" [(ngModel)]="password">
    </div>
    <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div> -->

<div>
  <div>
    <p>Login</p>
  </div>
  <div>
    <form>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <div class="example-full-width">
              <input
                matInput
                placeholder="Username"
                [(ngModel)]="username"
                name="username"
                required
              />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="example-full-width">
              <input
                matInput
                placeholder="Password"
                [(ngModel)]="password"
                type="password"
                name="password"
                required
              />
            </div>
          </td>
        </tr>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
      </table>
    </form>
    <!-- 

     <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
   -->
  </div>
  <div>
    <button (click)="checkLogin()" color="primary">
      Login
    </button>
  </div>
</div>
