<div class="d-flex justify-content-center">
    <div class="col-10 mb-5 mt-5">
        <div class="text-center">
            <h1 clss="title mb-4 pt-5">AS PLAN</h1>
            <h2 class="mb-5 mt-4">Mérnöki és Szolgáltató Korlátolt Felelősségű Társaság</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, debitis et non, accusamus harum autem nihil libero dolor molestiae, facere est iste amet veniam facilis. Esse iure inventore labore dignissimos. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab repellendus et voluptate impedit facere, deserunt harum modi quaerat fugit officia illum velit expedita nam blanditiis corrupti quasi, ipsam nisi doloremque.</p>
    </div>
</div>