<div class="justify-content-center d-flex">
    <div class="col-10">
      <div class="justify-content-center d-flex">
      <h1 class="mb-5 mt-5">{{project.name}} feladatai:</h1>
      </div>
      <div class="justify-content-end d-flex">
      <button class="brk-btn" (click)="addTask(content)">Új feladat</button> 
        </div>
      <div class="justify-content-center d-flex">
        <table class="col-10 m-5 usertable">
          <tr>
            <th class="col-3">Cím</th>
            <th class="col-3">Leírás</th>
            <th class="col-1">Kész?</th>
          </tr>
          <tr *ngFor="let task of project.tasks">
            <td class="col-3" style="word-wrap: break-word">{{ task.title }}</td>
            <td class="col-3" style="word-wrap: break-word">{{ task.description }}</td>
            <td class="col-1" style="text-align: center;"><input type="checkbox" id="isDone" name="isDone" [checked]="task.done" [disabled]="task.done" (click)="setDone(task.id)"></td>
            <td style="text-align: center;" class="col-1">
              <i class="fas fa-trash-alt p-3" (click)="confirmDelete(task.id)"></i>
            </td>
          </tr>
      </table>
      </div>
    </div>
</div>

    
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Feladat</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="name">Cím</label>
      <input
      required
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="newTask.title"
    />
        <label for="description">Leírás</label>
        <textarea
        type="text"
        required
        id="description"
        class="form-control"
        [(ngModel)]="newTask.description"
      >
      </textarea>
    
    
    </div>
    <div class="modal-footer">
      <button type="submit" class="brk-btn" (click)="onSave()" >Mentés</button>
      <button type="cancel" class="brk-btn" (click)="close()">Mégsem</button>
      <div [hidden]="!failed" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
    
  </ng-template>

