/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #FFF1E6;
}
h1{
    font-size: 2.5rem;
}
.brk-btn {
    position: relative;
    background: none;
    color: #F55C41;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid #F55C41;
    padding: 0.5em 1em;
}
.brk-btn::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #FFF1E6;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #FFF1E6;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn:hover::before {
    right: 80%;
}
.brk-btn:hover::after {
    left: 80%;
}



