<!-- Footer -->
<div class="page-footer font-small unique-color-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
        <h2 class="mb-5 text-center">Elérhetőségek</h2>
      <!-- Grid row -->
      <div class="row mt-3 d-flex justify-content-around">

        <p>
          <i class="fas fa-envelope mr-3"></i> office@asplan.hu</p>
          <p>
            <i class="fas fa-home mr-3"></i> 9700, SZombathely, Kárpáti Kelemen u. 39.</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +36 94 314 548</p>
         
    </div>
  
</div>
  <!-- Footer -->